/* Base Application Styles */
.main{
	color: #2f2;
}

.imageNameDiv{
	overflow: hidden;
	position: relative;
}

.inDiv{
	float: left;
	margin: 5px;
	vertical-align: text-bottom;
	bottom: 5px;
}

.indexColumn{
	weight:20px;
}

.itemBox {
}

.itemBox > td {
	/*margin: 27px;*/
	padding: 10px;
	border-radius: 5px;
	background-color: blue;
	border: 1px solid black;
}

.pieceBox {
	background-color: green;
	border: 2px;
}

.deleteButton {
	background-color: red;
}

.recipesTable {
	background-color: #ff8888;
	margin: 10px;
	padding: 20px;
	margin: auto;
	width: 50%;
	border: 3px solid green;
	border-radius: 10px;
}

